body {
  display: flex;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

li {
  float: left;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.topmost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1F2937;
  padding-top: 12px;
  padding-left: 64px;
  padding-right: 48px;
  padding-bottom: 48px;
}

.logo {
  display: flex;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}

.top-links {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.top-section {
  display: flex;
  background-color: #1F2937;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
  grid-column-gap: 40px;
  /* grid-row-gap: 0px; */
}

.top-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  /* flex: 1; */
  /* justify-content: space-between; */
  /* align-items: stetch; */
  /* column-gap: 0px; */
  /* row-gap: 0px; */
  /* padding: 0px; */
}

.big-title  {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  /* margin-left: 16px; */
  margin-top: -48px;
  margin-bottom: -24px;
  /* row-gap: 0px; */
}

.title-text {
  font-size: 18px;
  color: #E5E7EB;
  /* margin-left: 16px; */
  margin-top: -32px;
  /* row-gap: 0px; */
}

.top-right {
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: DarkGrey;
  /* padding-top: 72px;
  padding-bottom: 72px; */
}

.top-button {
  background-color: #3882F6;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}

.mid-section {
  display: flex;
  /* background-color: white; */
  flex-direction: column;
  /* justify-content: space-between; */
  padding-bottom: 24px;
}

.mid-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  padding: 24px;
  /* padding-bottom: 32px; */
}

.mid-tiles {
  display: flex;
  flex-direction: row;
  grid-column-gap: 48px;
  /* justify-content: space-between; */
  padding-left: 128px;
  padding-right: 128px;
}

.mid-column {
  display: flex;
  flex-direction: column;
}

.tile {
  display: flex;
  /* flex: 1 0 auto; */
  /* height: auto; */
  border-width: 4px;
  border-style: solid;
  border-radius: 16px;
  border-color: #3882F6;
  /* padding: 64px; */
  /* grid-column-gap: 128px; */
}

.tile:before {
  content: '';
  display: block;
  padding-top: 100%
}

.subtext {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.block-quote {
  display: flex;
  padding: 36px;
  padding-left: 160px;
  padding-right: 160px;
  background-color: #E5E7EB;
  flex-direction: column;
  /* text-align: right; */
}

.quote {
  display: flex;
  font-size: 36px;
  text-align: justify;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  /* padding-bottom: -64px; */
  margin-bottom: -32px;
}

.attribution {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 24px;
}

.cta {
  display: flex;
  background: white;
  flex-direction: row;
  /* align-items: stretch; */
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.cta-box {
  display: flex;
  background-color: #3882F6;
  /* flex-direction: row; */
  grid-column-gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  /* padding-left: 64px; */
  /* padding-right: 72px; */
  border-radius: 8px;
}

.cta-text {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  color: white;
  justify-content: center;

}

.cta-title {
  display: flex;
  /* padding-bottom: -32px; */
  margin-bottom: -32px;
  font-weight: 700;
  font-size: 20px;
}

.cta-text {
  display: flex;
  /* padding-top: -8px; */
}

.cta-button-box {
  display: flex;
  /* justify-content: space-evenly; */
  padding-left: 32px;
  padding-right: 64px;
  padding-bottom: 24px;
  padding-top: 24px;
  /* margin-top: 12px;
  margin-bottom: 12px; */
}

.cta-button {
  /* background-color: #3882F6; */
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  padding-left: 32px;
  padding-right: 32px;
}

.footer {
  display: flex;
  background-color: #1F2937;
  color: #E5E7EB;
  justify-content: center;
}
