body {
  display: flex;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

li {
  float: left;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.topmost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1F2937;
  padding-top: 12px;
  padding-left: 64px;
  padding-right: 48px;
  padding-bottom: 48px;
}

.logo {
  display: flex;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}

.top-links {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.top-section {
  display: flex;
  background-color: #1F2937;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
  grid-column-gap: 40px;
  /* grid-row-gap: 0px; */
}

.top-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  /* flex: 1; */
  /* justify-content: space-between; */
  /* align-items: stetch; */
  /* column-gap: 0px; */
  /* row-gap: 0px; */
  /* padding: 0px; */
}

.big-title  {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  /* margin-left: 16px; */
  margin-top: -48px;
  margin-bottom: -24px;
  /* row-gap: 0px; */
}

.title-text {
  font-size: 18px;
  color: #E5E7EB;
  /* margin-left: 16px; */
  margin-top: -32px;
  /* row-gap: 0px; */
}

.top-right {
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: DarkGrey;
  /* padding-top: 72px;
  padding-bottom: 72px; */
}

.top-button {
  background-color: #3882F6;
  border-radius: 8px;
  border: none;
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: bold;
}
