body {
  display: flex;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

li {
  float: left;
  padding: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.topmost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1F2937;
  color: white;
  padding-top: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-section {
  display: flex;
  background-color: #1F2937;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
  /* gap: 0px; */
  /* grid-row-gap: 0px; */
}

.top-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  /* flex: 1; */
  /* color: red; */
  /* justify-content: center; */
  /* align-items: flex-start; */
  /* column-gap: 0px; */
  /* row-gap: 0px; */
  /* padding: 0px; */
}

.big-title  {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  /* margin-left: 16px; */
  margin-bottom: -32px;
  /* row-gap: 0px; */
}

.title-text {
  font-size: 18px;
  color: #E5E7EB;
  /* margin-left: 16px; */
  margin-top: -32px;
  /* row-gap: 0px; */
}

.top-right {
  display: flex;
  flex: 1 1 0px;
}
